# IDEs and editors
.idea
.vscode

# Dependencies
/node_modules

# Build output
/dist
/build

# SvelteKit build files and cache
# (SvelteKitを使っていなくても念のため入れておくと安全)
.svelte-kit

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env.local
.env.*.local

# Operating System files
.DS_Store
Thumbs.db